<h1>Estos son los usuarios</h1>

<table>
    <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Email</th>
        <th>Tipo de usuario</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </tr>

    {{#each users }}
        <tr>
            <td>{{ first_name }}</td>
            <td>{{ last_name }}</td>
            <td>{{ email }}</td>
            <td>{{ type }}</td>
            
            
            <td> <a href="/users/{{ id }}/edit"> Edtiar </a> </td>
            <td>
                <form action="/users/{{ id }}?_method=DELETE" method="POST">
                    <input type="submit" value="Eliminar">
                </form> 
            </td>
        
        </tr>
    {{/each}}

</table>